# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor directories and files
.vscode/
.idea/

# Virtual Environments (just in case you add one later)
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/